@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Questrial&family=Roboto:wght@100;300;700&display=swap');
/*

		font-family: 'Oswald', sans-serif;

    font-family: 'Questrial', sans-serif;

    font-family: 'Roboto', sans-serif;

*/

/* сброс стилей браузера */
* {
	box-sizing: border-box;
}
a {
  text-decoration: none;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* конец кода сброса стилей браузера */

body {
	background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
	padding: 0 20px;
}

/* Header */
.header {
	width: 100%;
	max-height: 145px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 60px 0;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo__text {
	color: #696969;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 40px;
	text-transform: uppercase;
	margin-left: 25px;
}

.nav__block {
	width: 38px;
	height: 2px;
	margin-bottom: 7px;
	background-color: #464646;
}

.nav__block:last-child {
	margin: 0;
}

/* Intro */
.intro {
	padding: 323px 0 45px 0;
	width: 100%;
	text-align: center;
	color: #d6d5d5;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	background-color: #353535;
}

.intro__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro__title {
	font-size: 72px;
}

.intro__subtitle {
	font-size: 36px;
}

.intro__bottom {
	margin-top: 170px;
}

.intro__text {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
}

/* About */
.about {
	width: 100%;
	padding: 90px 0 118px 0;
}

.about__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container_text {
	max-width: 550px;
	margin: 0 auto;
}

.title {
	color: #3d3d3d;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 48px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 25px;
	text-align: center;
}

.title::after {
	content: "";
	display: block;
	width: 153px;
	height: 2px;
	background-color: #f15324;
	margin: 2px auto 0;
}

.subtitle {
	color: #696969;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 14px;
	text-align: center;
}

.about__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}

.about__item {
	width: 33.33333%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
	padding: 30px 45px 25px 30px;
	background-color: #ebebeb;
}

.about__item:first-child {
	margin: 0;
}

.about__img {
	display: flex;
	align-items: center;
	width: 50px;
	height: 50px;
}

.about__title {
	color: #707070;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}

.about__subtitle {
	color: #707070;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 14px;
	text-align: center;
}

/* Video */
.video {
	display: flex;
	width: 100%;
	background-color: #171f23;
}

.video__item {
	width: 50%;
}

.video__item_right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 130px 0 100px 0;
}

.video__container {
	max-width: 490px;
}

.video__title {
	color: #e7e7e7;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.video__btn {
	color: #ebebeb;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #e84c3d;
	border: none;
	border-bottom: 2px solid #b11000;
	margin-top: 45px;
	padding: 15px 30px 10px;
	cursor: pointer;
	transition: border .2s linear;
}

.video__btn:active {
	border: none;
	transition: border .2s linear;
}

.video__item_left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(../img/video/video.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/* Portfolio */
.portfolio {
	padding-top: 75px;
}

.portfolio__nav {
	max-width: 620px;
	display: flex;
	justify-content: space-between;
	margin: 85px auto 25px;
}

.portfolio__link {
	color: #3d3d3d;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
}

.portfolio__link:hover::after, .portfolio__link_active::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #e84c3d;
	position: absolute;
}

.portfolio__link_active {
	font-weight: 700;
}

.works {
	width: 100%;
	height: 525px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.works__line {
	width: 100%;
	display: flex;
}

.works__item {
	flex-grow: 2;
	background-color: #e84c3d;
	border-right: 1px solid #eb6659;
	border-bottom: 1px solid #eb6659;
}

.works__item_short {
	flex-grow: 1
}

/* Clients */
.clients {
	width: 100%;
	height: 240px;
	background-color: #1c1c1c;
}

/* Team */
.team {
	padding: 80px 0 105px 0;
}

.team__info {
	display: flex;
	justify-content: space-between;
	margin-top: 85px;
}

.member {
	width: 32%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ebebeb;
	padding: 75px 0 130px 0;
}

.member__name {
	color: #3d3d3d;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 20px;
}

.member__spec {
	color: #3d3d3d;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.member__icon {
	margin: 0 2px;
}

.skills {
	width: 68%;
	display: flex;
	flex-direction: column;
	background-color: #ebebeb;
	margin-left: 25px;
	padding: 120px 60px 90px;
}

.skills__title {
	color: #3d3d3d;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.skills__subtitle {
	color: #858383;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 14px;
	margin-bottom: 40px;
}

.skills__experience {
	display: flex;
	flex-direction: column;
}

.skills__line {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

.skills__line:last-child {
	margin: 0;
}

.skills__name {
	width: 120px;
	color: #3d3d3d;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 10px;
}

.skills__procent {
	color: #3d3d3d;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	margin-left: 10px;
}

.skills__photoshop, .skills__illustrator, .skills__sketch, .skills__ae {
	width: 370px;
	height: 1px;
	background-color: #fff;
	position: relative;
}

.skills__photoshop::after {
	content: "";
	display: block;
	position: absolute;
	width: 291px;
	height: 1px;
	background-color: #e84c3d;
}

.skills__illustrator::after {
	content: "";
	display: block;
	position: absolute;
	width: 308px;
	height: 1px;
	background-color: #e84c3d;
}

.skills__sketch::after {
	content: "";
	display: block;
	position: absolute;
	width: 298px;
	height: 1px;
	background-color: #e84c3d;
}

.skills__ae::after {
	content: "";
	display: block;
	position: absolute;
	width: 343px;
	height: 1px;
	background-color: #e84c3d;
}

/* Features */
.features {
	width: 100%;
	background-color: #171f23;
	padding: 60px 0;
}

.features__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.features__title {
	color: #f6f6f6;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-stretch: condensed;
	font-size: 36px;
	text-transform: uppercase;
}

.features__title::after {
	content: "";
	display: block;
	width: 86px;
	height: 1px;
	background-color: #404040;
	margin: 20px auto 0;
}

.features__container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 45px;
}

.features__item {
	width: 14%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.features__name {
	color: #f6f6f6;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.features__size {
	color: #f6f6f6;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 48px;
}

/* Blogs */
.blogs {
	width: 100%;
	padding: 70px 0 115px 0;
}
